<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="form-container addbook">
      <form
        action="/dashboard/addbook"
        enctype="multipart/form-data"
        method="POST"
      >
        <div class="book main">
          <div class="id-name">
            <input
              type="text"
              name="book_id"
              id="book_id"
              placeholder="Book ID"
              required
            />
            <input
              type="text"
              name="book_name"
              id="book_name"
              placeholder="Book Name"
              required
            />
          </div>
          <div class="auth-pub">
            <input
              type="text"
              name="author"
              id="author"
              placeholder="Author"
              required
            />
            <input
              type="text"
              name="publisher"
              id="publisher"
              placeholder="Publisher"
              required
            />
          </div>
          <div class="pub-orc">
            <input
              type="text"
              name="published_year"
              id="published_year"
              placeholder="Published Year"
              required
            />
            <input
              type="text"
              name="origin_country"
              id="origin_country"
              placeholder="Origin/Country"
              required
            />
          </div>
          <div class="page-copy">
            <input
              type="number"
              name="pages"
              id="pages"
              placeholder="No. of Pages"
              required
            />
            <input
              type="text"
              name="copies"
              id="copies"
              placeholder="No. of Copies"
              required
            />
          </div>

          <input
            type="file"
            name="cover"
            class="custom-file-input"
            id="cover"
            required
          />
          <div class="sub-can">
            <button type="submit">Submit</button>
            <button onclick="window.location.href='/dashboard'">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
