<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/admin.css" />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="admin-container">
      <div class="head"><h1><%=rows.name%> Page</h1></div>
      <div class="head"><h1><%= rows.phone %></h1></div>
      <div class="book-crud-container">
        <p>CRUD Operations on Books</p>
        <div class="a-c">
          <a href="/dashboard/addbook">Add Books</a>
          <a href="/dashboard/updatebook">Update Books</a>
          <a href="/dashboard/viewbook">View Books</a>
          <a href="/dashboard/removebook">Remove Books</a>
        </div>
      </div>
      <div class="user-crud-container">
        <p>CRUD Operations on Users</p>
        <div class="a-c">
          <a href="/dashboard/adduser">Add User</a>
          <a href="/dashboard/updateuser">Update User</a>
          <a href="/dashboard/viewuser">View Users</a>
          <a href="/dashboard/removeuser">Remove User</a>
        </div>
      </div>

      <form class="logout" action="/logout" method="post">
        <button type="submit">logout</button>
      </form>

      <script type="text/javascript">
        var messlen = '<%= umess.length %>';
        console.log(messlen);
        const showAlert = mes => alert('Message: ' + mes);
        if (messlen != 0) {
          showAlert('<%=umess%>');
        }
      </script>
    </div>
  </body>
</html>
