<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="succ-main-cont">
      <h2>Message : You already have borrowed a book!</h2>
      <% if (emess.toString().length!==0 ) { %> You have reached the limit
      <strong>due_date:</strong> <%=emess[0].due_date%></br> You will be Charged with a fine of Rs.xxx
      for every 15 days <% } %>
    </div>
  </body>
</html>
