<header>
  <div class="logo">
    <a href="/">LibSol</a>
  </div>
  <nav>
    <ul>
      <li>
        <a class="anim" href="/request"> Search</a>
      </li>
      <li><a class="anim" href="/">Home</a></li>
      <li><a class="anim" href="/contact">Contact us</a></li>
      <li><a class="anim" href="/adminLogin">Admin Login</a></li>
      <li><a class="anim" href="/register">Sign-Up</a></li>
    </ul>
  </nav>
</header>
