<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/admin">Admin Login</a></li>
          <li><a class="anim" href="/sign">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-container">
      <div class="img-container">
        <img src="../assets/landing_page.png" />
      </div>
      <div class="text-container">
        <h1>Library Management made easy</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
          dolor?
        </p>
      </div>
      <div class="btn-container">
        <button onclick="window.location.href='/sign'">Request a Book</button>
      </div>
    </div>
  </body>
</html>
