<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="main-container">
      <div class="img-container">
        <img src="../assets/images/landing_page.png" />
      </div>
      <div class="text-container">
        <h1>Library Management made easy</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
          dolor?
        </p>
      </div>
      <div class="btn-container">
        <button onclick="window.location.href='/request'">
          Request a Book
        </button>
      </div>
    </div>
  </body>
</html>
