<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/admin.css" />
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <% if (messages.error) { %> <% messages.error %> <% } %>
    <div class="grid-layout">
      <form action="/adminLogin" method="POST">
        <div class="main">
          <div class="text">
            <h3>Admin Login</h3>
          </div>

          <div class="admin">
            <input
              type="text"
              class="input"
              required
              placeholder="User Name"
              name="userID"
              id="userID"
            />
          </div>

          <div class="password">
            <input
              type="password"
              class="input"
              placeholder="Password"
              required
              name="password"
              id="password"
            />
          </div>

          <div class="btn">
            <button type="submit">Submit</button>
            <button onclick="window.location.href='/'">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <script src="/script/app.js"></script>
  </body>
</html>
