<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/sign_style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <% if (messages.info) { %>
    <span><% messages.info %></span> <% } %>
    <div class="form-container">
      <form action="/register" id="myForm" method="POST">
        <div class="main">
          <div class="name-container">
            <input
              type="text"
              class="input"
              required
              placeholder="First Name"
              name="firstName"
              id="fname"
              value="mohammed"
            />
            <input
              type="text"
              class="input"
              placeholder="Last Name"
              name="lastName"
              id="lname"
              value="imran"
            />
          </div>
          <div class="gender_date">
            <div class="gen">
              <input
                type="radio"
                required
                name="gender"
                value="male"
                id="male"
                checked
              />
              <label for="male">Male</label>
              <input
                type="radio"
                required
                name="gender"
                value="female"
                id="female"
              />
              <label for="female">Female</label>
              <input
                type="radio"
                required
                name="gender"
                value="other"
                id="other"
              />
              <label for="other">Other</label>
            </div>
            <div class="date-con">
              <input
                type="date"
                required
                class="input"
                id="date"
                name="DOB"
                value="1999-07-05"
              />
            </div>
          </div>
          <div class="address">
            <input
              type="text"
              required
              class="input"
              name="address1"
              id="address1"
              placeholder="Address Line 1"
              value="Address Line 1"
            />
            <input
              type="text"
              required
              class="input"
              name="address2"
              id="address2"
              placeholder="Address Line 2"
              value="Address Line 2"
            />
          </div>
          <div class="email">
            <input
              type="email"
              required
              class="input"
              id="email1"
              name="email1"
              placeholder="Enter email"
              value="m@m.c"
            />
            <input
              type="email"
              required
              class="input"
              id="email2"
              name="email2"
              placeholder="Re-Enter"
              value="m@m.c"
            />
          </div>
          <div class="pass"></div>
          <div class="btn">
            <button class="button" id="btn" type="submit">Submit</button>
            <button
              class="button"
              id="btnR"
              onclick="window.location.href='/adminLogin'"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
    <script>
      const btn = document.getElementById('btn');
      btn.addEventListener('click', () =>
        setTimeout(() => (window.location = '/user'), 2000)
      );
    </script>
  </body>
</html>
