<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/sign_style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>LibSol</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <% if (messages.info) { %>
    <span><% messages.info %></span> <% } %>

    <div class="form-container">
      <form action="/register" id="myForm" method="POST">
        <h3 class="note">Note: ( * ) Indicates Compulsary Fields</h3>
        <div class="main">
          <div class="name-container">
            <input
              type="text"
              class="input"
              required
              placeholder="First Name *"
              name="firstName"
              id="fname"
            />
            <input
              type="text"
              class="input"
              placeholder="Last Name"
              name="lastName"
              id="lname"
            />
          </div>
          <div class="gender_date">
            <div class="gen">
              <input
                type="radio"
                required
                name="gender"
                value="male"
                id="male"
                checked
              />
              <label for="male">Male</label>
              <input
                type="radio"
                required
                name="gender"
                value="female"
                id="female"
              />
              <label for="female">Female</label>
              <input
                type="radio"
                required
                name="gender"
                value="other"
                id="other"
              />
              <label for="other">Other</label>
            </div>
            <div class="date-con">
              <input type="date" required class="input" id="date" name="DOB" />
            </div>
          </div>
          <div class="address">
            <input
              type="text"
              required
              class="input"
              name="address1"
              id="address1"
              placeholder="Address Line 1 *"
            />
            <input
              type="text"
              required
              class="input"
              name="address2"
              id="address2"
              placeholder="Address Line 2 *"
            />
          </div>
          <div class="email">
            <input
              type="email"
              required
              class="input"
              id="email"
              name="email"
              placeholder="Enter email *"
            />

            <input
              type="tel"
              required
              class="input"
              id="phone"
              pattern="[6-9]{1}\d{9}"
              name="phone"
              placeholder="Phone No. *"
            />
          </div>
          <div class="pass"></div>
          <div class="btn">
            <button class="button" id="btn" type="submit">Submit</button>
            <button
              class="button"
              id="btnR"
              onclick="window.location.href='/adminLogin'"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
