<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <!--  -->
    <% if (messages.info) { %>
    <span><% messages.info %></span>
    <% } %>

    <div class="form-container">
      <form action="/register" id="myForm" method="POST">
        <h3 class="note">Note: ( * ) Indicates Compulsory Fields</h3>
        <div class="main">
          <div class="name-container">
            <input
              type="text"
              class="input"
              required
              placeholder="First Name *"
              name="firstName"
              id="fname"
              value="Mohammed"
            />
            <input
              type="text"
              class="input"
              placeholder="Last Name"
              name="lastName"
              id="lname"
              value="Imran"
            />
          </div>
          <div class="gender_date">
            <div class="gen">
              <input
                type="radio"
                required
                name="gender"
                value="male"
                id="male"
                checked
              />
              <label for="male">Male</label>
              <input
                type="radio"
                required
                name="gender"
                value="female"
                id="female"
              />
              <label for="female">Female</label>
              <input
                type="radio"
                required
                name="gender"
                value="other"
                id="other"
              />
              <label for="other">Other</label>
            </div>
            <div class="date-con">
              <input
                required
                type="date"
                id="date"
                name="DOB"
                class="input"
                placeholder="Date"
                value="07/05/1999"
              />
              <!-- onfocus="(this.type='date')"
                onblur="(this.type='text')" -->
            </div>
          </div>
          <div class="address">
            <input
              type="text"
              required
              class="input"
              name="address1"
              id="address1"
              placeholder="Address Line 1 *"
              value="Uppalli"
            />
            <input
              type="text"
              required
              class="input"
              name="address2"
              id="address2"
              placeholder="Address Line 2 *"
              value="Chikmagalur"
            />
          </div>
          <div class="email">
            <input
              type="email"
              required
              class="input"
              id="email"
              name="email"
              placeholder="Enter email *"
              value="mohammedimran86992@gmail.com"
            />
            <input
              type="tel"
              required
              class="input"
              id="phone"
              pattern="[6-9]{1}\d{9}"
              name="phone"
              placeholder="Phone No. *"
              value="9110412712"
            />
          </div>
          <div class="pass"></div>
          <div class="btn">
            <button class="button" id="btn" type="submit">Submit</button>
            <button
              class="button"
              id="btnR"
              onclick="window.location.href='/adminLogin'"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
    <script>
      document.querySelector('#date').valueAsDate = new Date();
    </script>
  </body>
</html>
