<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="search-container">
      <form action="/request/search" method="GET">
        <div class="form-cont">
          <div class="search-bar">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Search for Books"
              class="search"
              autofocus
            />
          </div>
          <div class="search-btn-container">
            <button class="search-btn" type="submit">Submit</button>
          </div>
        </div>
      </form>
      <div class="instructions">
        <h2>Note:</h2>
        <p>
          If You have been redirected to this page then the server has
          encountered an error. <b>Try Again</b> after some time!
        </p>
        <br />
        <p class="pp">If Not, then please continue.</p>
      </div>
      <form class="note" action="/viewall" method="GET">
        <p>If you want to view all the books, Press the below Button.</p>
        <div class="view-btn">
          <button>
            View All Books
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
