<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/admin.css" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="search-container">
      <form action="/request/search" method="GET">
        <div class="form-cont">
          <div class="search-bar">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Search for Books"
              class="search"
            />
          </div>
          <div class="search-btn-container">
            <button class="search-btn" type="submit">Submit</button>
          </div>
        </div>
        <div class="imae"></div>
      </form>
    </div>
  </body>
</html>
