<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="search-container">
      <form class="search-form" action="/request/search" method="GET">
        <div class="search-bar">
          <label for="search">Search for Books with Exact Title</label>
          <input
            type="text"
            name="search"
            id="search"
            class="search"
            required
          />
        </div>
        <button class="search-btn" type="submit">Search</button>
      </form>
      <div class="view-all__container">
        <h3>You Can See All The Available Books</h3>

        <button class="view-all" onclick="window.location.href='viewall'">
          View All Books
        </button>
      </div>
    </div>
  </body>
</html>
