<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="search-container">
      <form class="search-form" action="/request/search" method="GET">
        <div class="search-bar">
          <label for="search">Search for Books with Exact Title</label>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search for Books"
            class="search"
            autofocus
            required
          />
        </div>
        <!-- <div class="search-btn-container"> -->
        <button class="search-btn" type="submit">Search</button>
        <!-- </div> -->
      </form>
      <button class="view-all" onclick="window.location.href='viewall'">
        View All Books
      </button>
    </div>
  </body>
</html>
