<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="rm-main">
      <form action="/dashboard/removeuser" method="POST">
        <input
          type="text"
          name="user_id"
          id="user_id"
          placeholder="User ID"
          required
        />
        <button type="submit">Confirm</button>
        <button onclick="window.location.href='/dashboard'">Cancel</button>
      </form>
    </div>
  </body>
</html>
