<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/admin.css" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-cont">
      <h1><%= value %></h1>
      <h1><%= id %></h1>
      <div class="image-cont">
        <img src="/assets/images/books/<%=id%>.<%= format %>" alt="" />
      </div>
    </div>
  </body>
</html>
