<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/sign_style.css" />
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/admin">Admin Login</a></li>
          <li><a class="anim" href="/sign">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="error-msg">
      <span class="err" style="color: black;">Password Must match</span>
    </div>
    <div class="form-container">
      <form action="/sign" id="myForm" method="POST">
        <div class="main">
          <div class="name-container">
            <input
              type="text"
              class="input"
              required
              placeholder="First Name"
              name="fname"
              id="fname"
              value="imran"
            />
            <input
              type="text"
              class="input"
              placeholder="Last Name"
              name="lname"
              id="lname"
            />
          </div>
          <div class="gender_date">
            <div class="gen">
              <input
                type="radio"
                required
                name="gender"
                value="male"
                id="male"
                checked
              />
              <label for="male">Male</label>
              <input
                type="radio"
                required
                name="gender"
                value="female"
                id="female"
              />
              <label for="female">Female</label>
              <input
                type="radio"
                required
                name="gender"
                value="other"
                id="other"
              />
              <label for="other">Other</label>
            </div>
            <div class="date-con">
              <input
                type="date"
                required
                class="input"
                id="date"
                name="bday"
                value="1999-12-12"
              />
            </div>
          </div>
          <div class="address">
            <input
              type="text"
              required
              class="input"
              name="address1"
              id="address1"
              placeholder="Address Line 1"
              value="imran"
            />
            <input
              type="text"
              required
              class="input"
              name="address2"
              id="address2"
              placeholder="Address Line 2"
              value="imran"
            />
          </div>
          <div class="email">
            <input
              type="email"
              name="email1"
              required
              class="input"
              id="email1"
              placeholder="Enter email"
              value="m@i.c"
            />
            <input
              type="email"
              name="email2"
              required
              class="input"
              id="email2"
              placeholder="Re-Enter"
              value="m@i.c"
            />
          </div>
          <div class="pass"></div>
          <div class="btn">
            <button class="button" id="btn" type="submit">Submit</button>
            <button class="button" id="btnR" type="reset">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <script src="/script/app.js"></script>
  </body>
</html>
