<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="succ-main-cont">
      <h2>Message : Some Error Occurred</h2>
    </div>
  </body>
</html>
