<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/admin.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="up-main-cont">
      <form action="/dashboard/updatebook" method="POST">
        <div class="table-cont">
          <% if (message.length !== 0) { %> <%= message %> <% } %>
          <table class="return-table">
            <tr>
              <td><h3>Transaction ID:</h3></td>
              <td>
                <input
                  type="text"
                  name="transaction_id"
                  id="transaction_id"
                  placeholder="Transaction ID"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><h3>Book ID:</h3></td>
              <td>
                <input
                  type="text"
                  name="book_id"
                  id="book_id"
                  placeholder="Book ID"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><h3>User ID:</h3></td>
              <td>
                <input type="text" name="user_id" id="user_id" required />
              </td>
            </tr>
          </table>

          <div class="btn"><button type="submit">Submit</button></div>
        </div>
      </form>
    </div>
  </body>
</html>
