<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="up-main-cont">
      <form action="/dashboard/updatebook" method="POST">
        <div class="table-cont">
          <% if (message.length !== 0) { %> <%= message %> <% } %>
          <table class="return-table">
            <tr>
              <td><h3>Transaction ID:</h3></td>
              <td>
                <input
                  type="text"
                  name="transaction_id"
                  id="transaction_id"
                  placeholder="Transaction ID"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><h3>Book ID:</h3></td>
              <td>
                <input
                  type="text"
                  name="book_id"
                  id="book_id"
                  placeholder="Book ID"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><h3>User ID:</h3></td>
              <td>
                <input type="text" name="user_id" id="user_id" required />
              </td>
            </tr>
          </table>

          <div class="btn"><button type="submit">Submit</button></div>
        </div>
      </form>
    </div>
  </body>
</html>
