<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="main-user-cont">
      <div class="cong"><h1>Congratulation</h1></div>
      <div class="cong-text">
        <h3>
          You have successfully Signed Up. <br />
          <a aria-placeholder="User Info" href="/user/info">Click here</a> to
          see your details and to get your Hash Key.
        </h3>
      </div>
      <div class="message">
        <% let message; %> <% if (message!= undefined) { %> <%= message %> <% }
        %>
      </div>
    </div>
  </body>
</html>
