<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/admin.css" />
    <link rel="stylesheet" href="../assets/book.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-book-view" style="margin: 2em;">
      <ol style="list-style-type:decimal-leading-zero">
        <% books.forEach(book => {%>
        <li>
          <h3><%=book.book_name%></h3>
          <br />
          <strong> Author: </strong><%=book.author%> <br />
          <strong> Country: </strong><%=book.origin_country%> <br />
          <strong> No.of Copies: </strong> <%=book.copies%>
        </li>
        <br />
        <hr />
        <br />
        <%});%>
      </ol>
    </div>
  </body>
</html>
