* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.grid-layout {
  width: 100%;
  height: 91vh;
}

.grid-layout,
.btn,
.main,
.text,
.admin,
.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-layout .main {
  width: 400px;
  height: 40vh;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: 20px (2fr 1fr)[4];
      grid-template-rows: 20px repeat(4, 2fr 1fr);
  border-radius: 1em;
}

.grid-layout .main .text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.grid-layout .main .admin {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.grid-layout .main .password {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}

.grid-layout .main .btn {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / span 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid-layout .main .admin,
.grid-layout .main .text,
.grid-layout .main .password,
.grid-layout .main .btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.input {
  width: 90%;
  height: 3em;
  padding: 0 1em;
  border: none;
  outline: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.1em;
  font-size: 15px;
}

.input:focus {
  border-bottom: 2px solid #2af598;
  outline: none;
}

button {
  width: 8em;
  height: 2.5em;
  text-align: center;
  color: white;
  background-color: #08aeea;
  border: none;
  outline: none;
  border-radius: 0.3em;
}

.logout {
  margin: 50px 50px 50px 50px;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}
