* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.grid-layout {
  width: 100%;
  height: 91vh;
}

.grid-layout,
.btn,
.main,
.text,
.admin,
.password {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-layout .main {
  width: 400px;
  height: 40vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 20px repeat(4, 2fr 1fr);
  border-radius: 1em;
  .text {
    grid-row: 2 / span 1;
  }
  .admin {
    grid-row: 4 / span 1;
  }
  .password {
    grid-row: 6 / span 1;
  }
  .btn {
    grid-row: 8 / span 1;
    justify-content: space-around;
  }
  .admin,
  .text,
  .password,
  .btn {
    grid-column: 2 / span 1;
  }
}

.input {
  width: 90%;
  height: 3em;
  padding: 0 1em;
  border: none;
  outline: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.1em;
  font-size: 15px;
}

.input:focus {
  border-bottom: 2px solid #2af598;
  outline: none;
}

button {
  width: 8em;
  height: 2.5em;
  text-align: center;
  color: white;
  background-color: #08aeea;
  border: none;
  outline: none;
  border-radius: 0.3em;
}

.logout {
  margin: 50px 50px 50px 50px;
}
ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}
