* {
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 750px;
  height: 85vh;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  -ms-grid-rows: (1fr 2fr)[5] 1fr;
      grid-template-rows: repeat(5, 1fr 2fr) 1fr;
  border-radius: 1em;
}

.main .name-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.main .gender_date {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.main .address {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}

.main .email {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / span 1;
}

.main .btn {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / span 1;
}

.gen {
  width: 300px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn,
.email,
.address,
.gender_date,
.name-container {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 20em;
  height: 3em;
  border: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.1em;
  padding: 0 1em;
  font-size: 15px;
  color: black;
  position: relative;
}

.input:focus {
  border-bottom: 2px solid #2af598;
  outline: none;
}

.button {
  width: 8em;
  height: 2.5em;
  text-align: center;
  color: white;
  background-color: #08aeea;
  border: none;
  outline: none;
  border-radius: 0.3em;
}
