.form-container {
  width: 100%;
  height: 92vh;
}

.form-container .main {
  width: 800px;
  height: 80vh;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: repeat(5, 1fr 2fr) 1fr;
  border-radius: 1em;
  .name-container {
    grid-row: 2 / span 1;
  }
  .gender_date {
    grid-row: 4 / span 1;
  }
  .address {
    grid-row: 6 / span 1;
  }
  .email {
    grid-row: 8 / span 1;
  }
  .btn {
    grid-row: 10 / span 1;
  }
}

.gen {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn,
.email,
.address,
.gender_date,
.name-container {
  width: 100%;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 20em;
  height: 3em;
  border: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.1em;
  padding: 0 1em;
  font-size: 15px;
  color: rgb(0, 0, 0);
  position: relative;
}

.input:focus {
  border-bottom: 2px solid #2af598;
  outline: none;
}

.button {
  width: 8em;
  height: 2.5em;
  text-align: center;
  color: white;
  background-color: #08aeea;
  border: none;
  outline: none;
  border-radius: 0.3em;
}

.note {
  text-align: center;
  height: 4em;
  width: 100%;
}

/* Chrome, Edge, Safari*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
