@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #08aeea;
  background-image: linear-gradient(225deg, #08aeea 0%, #2af598 84%);
}
header {
  height: 8vh;
  width: 100%;
  display: grid;
  background-color: rgb(250, 250, 250);
  grid-template-columns: 1fr 2fr 10fr 1fr;
  .logo {
    grid-column: 2 / span 1;
    text-align: center;
    display: flex;
    align-items: center;
  }
}
.logo a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-decoration: none;
  }
  ul li {
    list-style-type: none;
    padding-left: 5em;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr 2fr;
}

.img-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.text-container {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  flex-direction: column;
}
.btn-container {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(16, 97, 204);
    color: blanchedalmond;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
.btn-container,
.text-container,
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Hover Animation
.anim {
  position: relative;
}
.anim::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.1s ease-in-out;
}

.anim:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

button a {
  text-decoration: none;
  color: white;
}
