@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', 'Segoe UI', 'Ubuntu Mono', 'sans-serif';
  scrollbar-color: #08aeea #2af598;
  scrollbar-width: thin;
}

*::-moz-selection {
  color: #272727;
  background-color: #fff;
}

*::selection {
  color: #272727;
  background-color: #fff;
}

body {
  background-color: #08aeea;
  background-image: linear-gradient(225deg, #08aeea 0%, #2af598 84%);
  height: 100vh;
}

header {
  min-height: 8vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  background-color: #fafafa;
  -ms-grid-columns: 1fr 2fr 10fr 1fr;
      grid-template-columns: 1fr 2fr 10fr 1fr;
}

header .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

.logo a::-moz-selection {
  color: #fff;
  background-color: #272727;
}

.logo a::selection {
  color: #fff;
  background-color: #272727;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: #363636;
  font-weight: bold;
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  padding-left: 5em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a::-moz-selection {
  color: #fff;
  background-color: #272727;
}

nav a::selection {
  color: #fff;
  background-color: #272727;
}

.main-container {
  height: 92vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 1fr 3fr 2fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 2fr 1fr 2fr;
}

.img-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.text-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-container h1::-moz-selection {
  background-color: black;
  color: white;
}

.text-container h1::selection {
  background-color: black;
  color: white;
}

.text-container h1::-moz-selection {
  background-color: black;
  color: white;
}

.btn-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.btn-container button {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  background-color: #1061cc;
  color: #f8f8f8;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-container,
.text-container,
.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anim {
  position: relative;
}

.anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.anim:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

button a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

.search-container {
  width: 100%;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-bar {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-btn-container {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-cont {
  width: 100%;
  height: 20vh;
}

.search {
  width: 40rem;
  height: 3rem;
  padding: 0 0 0 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.2em;
}

.search-btn {
  background-color: #10799f;
}

.instructions {
  width: 60em;
  height: 20vh;
  font-size: 16px;
  padding: 1rem;
}

.instructions p {
  color: #232323;
}

.instructions .pp {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.note {
  width: 60em;
  height: 20vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note .view-btn button {
  height: 3.2em;
  width: 12em;
  outline: none;
  border: none;
  background-color: #1061cc;
  color: #f8f8f8;
  border-radius: 1.5em;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.message {
  width: 100%;
  font-size: 1.5em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-cont img {
  width: 20rem;
}

.image-contt img {
  width: 15rem;
}

.err-mes-img img {
  width: 20rem;
}

.main-cont {
  padding: 1rem;
  height: 91vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-cont form input {
  width: 20rem;
  height: 3rem;
  border-radius: 0.3rem;
  border: none;
  padding: 18px 9px;
  font-size: 18px;
  color: black;
}

.main-cont form .sub-btn button {
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  margin: 1rem auto;
  display: block;
}

.main-cont .contt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rq-btn {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 100px;
}

.rq-btn button {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  background-color: #1061cc;
  color: blanchedalmond;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.main-user-cont {
  height: 90vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5em 1fr 2fr auto;
      grid-template-rows: 5em 1fr 2fr auto;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.cong {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  height: 10vh;
  width: 100%;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #26c711;
  background-color: rgba(255, 255, 255, 0.7);
}

.cong-text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cong-text h3 {
  font-size: 1.2em;
  color: #383838;
}

.cong-text a {
  color: #3333ec;
}

.main-uinfo {
  height: 91vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10em auto 1fr 2fr 1fr;
      grid-template-columns: 10em auto 1fr 2fr 1fr;
  -ms-grid-rows: 7em auto 1fr;
      grid-template-rows: 7em auto 1fr;
}

.cont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  padding: 1em;
  height: 27em;
  width: 670px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
}

.cont table tr th {
  font-size: 1.3em;
  width: 15rem;
  height: 2em;
  text-align: left;
}

.cont table tr td {
  padding: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  font-size: 1.2em;
}

.btn-container-1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-container-1 button {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: #1061cc;
  color: blanchedalmond;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.admin-container {
  height: 92vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container .logout {
  position: fixed;
  top: 4em;
  right: 0;
}

.admin-container .logout button {
  background: white;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-container .book-crud-container,
.admin-container .user-crud-container {
  height: 300px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.876);
  border-radius: 0.8em;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container .book-crud-container p,
.admin-container .user-crud-container p {
  font-weight: bold;
  font-size: 1.3rem;
}

.admin-container .book-crud-container .a-c,
.admin-container .user-crud-container .a-c {
  height: 200px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container .book-crud-container .a-c a,
.admin-container .user-crud-container .a-c a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
  color: black;
}

.table-cont {
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-cont .return-table {
  padding: 1em;
  width: 40%;
  height: 15em;
}

.table-cont .return-table input {
  width: 18em;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  padding-left: 1em;
}

.main-admin-view {
  margin-top: 1em;
  margin-left: 2em;
  height: 87vh;
  width: 90%;
}

.main-admin-view ul > li {
  margin: 2em 0;
  list-style-type: disc;
}

.main-book-view {
  margin: 1em 0em 0em 3em;
  min-height: 90vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.main-book-view ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: decimal-leading-zero;
}

.main-book-view hr {
  width: 100%;
  display: block;
  margin: 0 -2em;
  height: 0.2em;
  color: black;
  background: #000;
  outline: none;
  border: none;
}

.sub-btn button {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  background-color: #1061cc;
  color: #f8f8f8;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.succ-main-cont {
  min-height: 88vh;
  text-align: center;
}

.succ-main-cont h2 {
  margin-top: 2rem;
}

.succ-main-cont .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
}

.succ-main-cont .t-cont {
  margin-top: 2em;
  min-height: 8em;
}

.form-container.addbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .main.book {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  -ms-grid-rows: (1fr 2fr)[6] 1fr;
      grid-template-rows: repeat(6, 1fr 2fr) 1fr;
  border-radius: 1em;
}

.form-container .main.book input {
  width: 19em;
  height: 3em;
  border: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.1em;
  padding: 0 1em;
  font-size: 15px;
  color: black;
  position: relative;
}

.form-container .main.book input:focus {
  border-bottom: 2px solid #2af598;
  outline: none;
}

.id-name,
.auth-pub,
.pub-orc,
.page-copy,
#cover,
.sub-can {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.id-name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.auth-pub {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.pub-orc {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}

.page-copy {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / span 1;
}

#cover {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / span 1;
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

#cover input {
  border-bottom: none;
}

#cover input:focus {
  border-bottom: none;
  outline: none;
}

.main-contt {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rm-main {
  background: white;
  width: 350px;
  height: 180px;
  border-radius: 1em;
}

.rm-main form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rm-main input {
  width: 19em;
  height: 3em;
  border: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.1em;
  padding: 0 1em;
  font-size: 15px;
  color: black;
  position: relative;
}

.rm-main input:focus {
  border-bottom: 2px solid #2af598;
  outline: none;
}

.rm-main .btn-cont {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-can {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12 / span 1;
}

/* width */
::-moz-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2af598;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #08aeea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #21c87d;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: #fff;
  }
}
