@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Segoe UI', 'Ubuntu Mono', 'sans-serif';
  scrollbar-color: #08aeea #2af598;
  scrollbar-width: thin;
}

*::selection {
  color: rgb(27, 27, 27);
  background-color: #fff;
}

// Universal Styles for Overriding Mozilla Default CSS

*::-moz-focus-outer {
  border: 0;
}
*::-moz-focus-inner {
  border: 0;
}
a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: 0;
}

input:-moz-submit-invalid,
input:invalid,
input:-moz-ui-invalid {
  box-shadow: none;
}

body {
  background-color: #08aeea;
  background-image: linear-gradient(225deg, #08aeea 0%, #2af598 84%);
  min-height: 100vh;
  overflow-y: hidden;
}

header {
  min-height: 70px;
  width: 100%;
  display: grid;
  background-color: rgb(250, 250, 250);
  grid-template-columns: 1fr 2fr 1fr 10fr 0.5fr;
  .logo {
    grid-column: 2 / span 1;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo a::selection {
  color: #fff;
  background-color: rgb(39, 39, 39);
}

nav {
  grid-column: 4 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: auto;
  a {
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-decoration: none;
  }
  ul li {
    list-style-type: none;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

nav {
  a::selection {
    color: #fff;
    background-color: rgb(39, 39, 39);
  }
}

.main-container {
  height: 92vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr 2fr;
}

.img-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.text-container {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  flex-direction: column;
  h1::selection {
    background-color: black;
    color: white;
  }
  h1::-moz-selection {
    background-color: black;
    color: white;
  }
}

.btn-container {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(16, 97, 204);
    color: rgb(248, 248, 248);
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}

.btn-container,
.text-container,
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Hover Animation
.anim {
  position: relative;
}
.anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.1s ease-in-out;
}

.anim:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

button a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

// Styles => request.ejs

.search-container,
.search-form,
.search-bar {
  display: flex;
  flex-direction: column;
}
body {
  height: 100vh;
}
.search-container {
  margin-top: 1rem;
  height: 500px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  label {
    font-size: 1.2rem;
  }
  .search-form {
    min-height: 10rem;
    width: 650px;
    justify-content: space-between;
    align-items: center;
    button {
      width: 200px;
      height: 2.8rem;
      font-size: 1.2rem;
    }
    .search-bar {
      min-height: 5rem;
      width: 100%;
      justify-content: space-around;
      .search {
        width: 100%;
        height: 3rem;
        padding: 0.8rem;
        border-radius: 0.3rem;
        border: none;
        border-bottom: 2px solid #000000;
        font-size: 1rem;
        &:focus {
          border-bottom: 2px solid #1e1e1e;
          border-left: 2px solid #1e1e1e;
        }
      }
    }
  }

  .view-all {
    height: 3rem;
    width: 10rem;
    border-radius: 10rem;
    background-color: darken(#08eaa6, 20);
    color: white;
    font-size: 16px;
  }
  .view-all__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    h3 {
      background-color: #fff;
      user-select: none;
      width: 450px;
      padding: 1rem;
      border-radius: 0.4rem;
      margin-top: 3rem;
      text-align: center;
    }
  }
}

.note {
  width: 60em;
  height: 20vh;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .view-btn {
    button {
      height: 3.2em;
      width: 12em;
      outline: none;
      border: none;
      background-color: rgb(16, 97, 204);
      color: rgb(248, 248, 248);
      border-radius: 1.5em;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.message {
  width: 100%;
  font-size: 1.5em;
  height: max-content;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.action {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.image-cont img {
  width: 20rem;
}
.image-contt img {
  width: 15rem;
}
.err-mes-img img {
  width: 20rem;
}

.main-cont {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  form {
    input {
      width: 20rem;
      height: 3rem;
      border-radius: 0.3rem;
      border: none;
      padding: 18px 9px;
      font-size: 18px;
      color: black;
    }
    .sub-btn button {
      width: 10rem;
      height: 3rem;
      font-size: 1.2rem;
      margin: 1rem auto;
      display: block;
    }
  }
  .contt {
    width: 100%;
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
  }
}

.rq-btn {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 100px;
  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(16, 97, 204);
    color: blanchedalmond;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
.main-user-cont {
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5em 1fr 2fr auto;
  grid-template-columns: 1fr auto 1fr;
}
.cong {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  height: 10vh;
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(38, 199, 17);
  background-color: rgba(255, 255, 255, 0.7);
}
.cong-text {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  width: 570px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  h3 {
    font-size: 1.2em;
    color: rgb(56, 56, 56);
  }
  a {
    color: rgb(51, 51, 236);
  }
}

.main-uinfo {
  height: 91vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10em auto 1fr 2fr 1fr;
  grid-template-rows: 7em auto 1fr;
}

.cont {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 1em;
  height: 27em;
  width: 670px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;

  table tr {
    th {
      font-size: 1.3em;
      width: 15rem;
      height: 2em;
      text-align: left;
    }
    td {
      padding: 3px;
      width: fit-content;
      height: 2em;
      font-size: 1.2em;
    }
  }
  &::selection {
    background-color: black;
    color: white;
  }
  &::-moz-selection {
    background-color: black;
    color: white;
  }
}

.btn-container-1 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: rgb(16, 97, 204);
    color: blanchedalmond;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}

.admin-container {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .logout {
    position: fixed;
    top: 4em;
    right: 0;
    button {
      background: rgb(255, 255, 255);
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .book-crud-container,
  .user-crud-container {
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.876);
    border-radius: 0.8em;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    p {
      font-weight: bold;
      font-size: 1.3rem;
    }
    .a-c {
      height: 200px;
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        text-align: left;
        color: black;
      }
    }
  }
}
.table-cont {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .return-table {
    padding: 1em;
    width: 40%;
    height: 15em;
    input {
      width: 18em;
      height: 3em;
      border-radius: 0.5em;
      border: none;
      outline: none;
      padding-left: 1em;
    }
  }
}

.main-admin-view {
  margin-top: 1em;
  margin-left: 2em;
  height: 87vh;
  width: 90%;
  ul > li {
    margin: 2em 0;
    list-style-type: disc;
  }
}

.main-book-view {
  margin: 1em 0em 0em 3em;
  min-height: 90vh;
  max-height: fit-content;
  ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: decimal-leading-zero;
  }
  hr {
    width: 100%;
    display: block;
    margin: 0 -2em;
    height: 0.2em;
    color: black;
    background: #000;
    outline: none;
    border: none;
  }
}

.sub-btn {
  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(16, 97, 204);
    color: rgb(248, 248, 248);
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}

.succ-main-cont {
  min-height: 88vh;
  text-align: center;
  h2 {
    margin-top: 2rem;
  }
}
.succ-main-cont .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
.succ-main-cont .t-cont {
  margin-top: 2em;
  min-height: 8em;
}
.form-container.addbook {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container .main.book {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: repeat(6, 1fr 2fr) 1fr;
  border-radius: 1em;
  input {
    width: 19em;
    height: 3em;
    border: none;
    border-bottom: 2px solid #08aeea;
    border-radius: 0.1em;
    padding: 0 1em;
    font-size: 15px;
    color: rgb(0, 0, 0);
    position: relative;
  }
  input:focus {
    border-bottom: 2px solid #2af598;
    outline: none;
  }
}
.id-name,
.auth-pub,
.pub-orc,
.page-copy,
#cover,
.sub-can {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.id-name {
  grid-row: 2 / span 1;
}
.auth-pub {
  grid-row: 4 / span 1;
}
.pub-orc {
  grid-row: 6 / span 1;
}
.page-copy {
  grid-row: 8 / span 1;
}
#cover {
  grid-row: 10 / span 1;
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  input {
    border-bottom: none;
  }
  input:focus {
    border-bottom: none;
    outline: none;
  }
}
.main-contt {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rm-main {
  background: white;
  width: 350px;
  height: 180px;
  border-radius: 1em;
  form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  input {
    width: 19em;
    height: 3em;
    border: none;
    border-bottom: 2px solid #08aeea;
    border-radius: 0.1em;
    padding: 0 1em;
    font-size: 15px;
    color: rgb(0, 0, 0);
    position: relative;
  }
  input:focus {
    border-bottom: 2px solid #2af598;
    outline: none;
  }
  .btn-cont {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.sub-can {
  grid-row: 12 / span 1;
}
/* width */
::-moz-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2af598;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #08aeea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #21c87d;
}

@media only screen and (min-width: 800px) {
  header {
  }
}
