@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #08aeea;
  background-image: linear-gradient(225deg, #08aeea 0%, #2af598 84%);
}
header {
  min-height: 8vh;
  max-height: max-content;
  width: 100%;
  display: grid;
  background-color: rgb(250, 250, 250);
  grid-template-columns: 1fr 2fr 10fr 1fr;
  .logo {
    grid-column: 2 / span 1;
    text-align: center;
    display: flex;
    align-items: center;
  }
}
.logo a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-decoration: none;
  }
  ul li {
    list-style-type: none;
    padding-left: 5em;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr 2fr;
}

.img-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.text-container {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  flex-direction: column;
}
.btn-container {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(16, 97, 204);
    color: blanchedalmond;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
.btn-container,
.text-container,
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Hover Animation
.anim {
  position: relative;
}
.anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.1s ease-in-out;
}

.anim:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

button a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}
.search-container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search-bar {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn-container {
  width: 100%;
  height: 3rem;
  display: flex;
  margin-left: 10rem;
  justify-content: flex-start;
  align-items: center;
}

.form-cont {
  width: 100%;
  height: 20vh;
}
.search {
  width: 40rem;
  height: 3rem;
  padding: 0 0 0 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.2em;
}
.search-btn {
  background-color: #10799f;
}
.instructions {
  width: 60rem;
  height: 30vh;
  // border: 1px solid black;
  font-size: 20px;
  padding: 1rem;
}

.image-cont img {
  width: 20rem;
}

.main-cont {
  padding: 1rem;
  height: 91vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-user-cont {
  height: 91vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5em 1fr 2fr auto;
  grid-template-columns: 1fr auto 1fr;
}
.cong {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  height: 10vh;
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(38, 199, 17);
  background-color: rgba(255, 255, 255, 0.7);
}
.cong-text {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  width: 570px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  h3 {
    font-size: 1.2em;
    color: rgb(56, 56, 56);
  }
  a {
    color: rgb(51, 51, 236);
  }
}

.main-uinfo {
  height: 91vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10em auto 1fr 2fr 1fr;
  grid-template-rows: 7em auto 1fr;
}

.cont {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 1em;
  height: 27em;
  width: 670px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  table tr {
    th {
      font-size: 1.3em;
      width: 15rem;
      height: 2em;
      text-align: left;
    }
    td {
      padding: 3px;
      width: fit-content;
      height: 2em;
      font-size: 1.2em;
    }
  }
}

.btn-container-1 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    height: 70px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: rgb(16, 97, 204);
    color: blanchedalmond;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}

.admin-container {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .logout {
    position: fixed;
    top: 4em;
    right: 0;
    button {
      background: rgb(255, 255, 255);
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .book-crud-container,
  .user-crud-container {
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.876);
    border-radius: 0.8em;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    p {
      font-weight: bold;
      font-size: 1.3rem;
    }
    .a-c {
      height: 200px;
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        text-align: left;
        color: black;
      }
    }
  }
}
