@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #08aeea;
  background-image: linear-gradient(225deg, #08aeea 0%, #2af598 84%);
}

header {
  min-height: 8vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  background-color: #fafafa;
  -ms-grid-columns: 1fr 2fr 10fr 1fr;
      grid-template-columns: 1fr 2fr 10fr 1fr;
}

header .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: #363636;
  font-weight: bold;
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  padding-left: 5em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 1fr 3fr 2fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 2fr 1fr 2fr;
}

.img-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.text-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.btn-container button {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  background-color: #1061cc;
  color: blanchedalmond;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-container,
.text-container,
.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anim {
  position: relative;
}

.anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.anim:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

button a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

.search-container {
  width: 100%;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-btn-container {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-cont {
  width: 100%;
  height: 20vh;
}

.search {
  width: 40rem;
  height: 3rem;
  padding: 0 0 0 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #08aeea;
  border-radius: 0.2em;
}

.search-btn {
  background-color: #10799f;
}

.instructions {
  width: 60rem;
  height: 30vh;
  font-size: 20px;
  padding: 1rem;
}

.image-cont img {
  width: 20rem;
}

.main-cont {
  padding: 1rem;
  height: 91vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-user-cont {
  height: 91vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5em 1fr 2fr auto;
      grid-template-rows: 5em 1fr 2fr auto;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.cong {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  height: 10vh;
  width: 100%;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #26c711;
  background-color: rgba(255, 255, 255, 0.7);
}

.cong-text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cong-text h3 {
  font-size: 1.2em;
  color: #383838;
}

.cong-text a {
  color: #3333ec;
}

.main-uinfo {
  height: 91vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10em auto 1fr 2fr 1fr;
      grid-template-columns: 10em auto 1fr 2fr 1fr;
  -ms-grid-rows: 7em auto 1fr;
      grid-template-rows: 7em auto 1fr;
}

.cont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  padding: 1em;
  height: 27em;
  width: 670px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
}

.cont table tr th {
  font-size: 1.3em;
  width: 15rem;
  height: 2em;
  text-align: left;
}

.cont table tr td {
  padding: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  font-size: 1.2em;
}

.btn-container-1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-container-1 button {
  height: 70px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: #1061cc;
  color: blanchedalmond;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.admin-container {
  height: 92vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container .logout {
  position: fixed;
  top: 4em;
  right: 0;
}

.admin-container .logout button {
  background: white;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-container .book-crud-container,
.admin-container .user-crud-container {
  height: 300px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.876);
  border-radius: 0.8em;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container .book-crud-container p,
.admin-container .user-crud-container p {
  font-weight: bold;
  font-size: 1.3rem;
}

.admin-container .book-crud-container .a-c,
.admin-container .user-crud-container .a-c {
  height: 200px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container .book-crud-container .a-c a,
.admin-container .user-crud-container .a-c a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
  color: black;
}
